*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.projects-card {
  margin: 30px;
}

.project-item {
  margin: 30px auto;
  font-size: 25px;
  font-family: Montserrat;
  padding: 30px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  background-color: #353333;
}
.project-item:hover {
  box-shadow: 0 0 10px red, 0 0 10px red;
}
.project-item a {
  color: white;
}
